<h1>Meal Plan</h1>

<div class = "meal_plan">
  <% @meal_plans.each do |meal_plan| %>
    <ul>
      <strong><li> <%= meal_plan.dayOfWeek %> </li></strong>
      <% if meal_plan.meal.nil? %>
        <li> &nbsp; </li>
      <% else %>
        <li> <%= meal_plan.meal.name %> </li>
      <% end %>
    </ul>
  <% end %>
</div>
