<h2>this displays a list of the meals</h2>

<ul>
  <% @meals.each do |meal| %>
    <li class="meal-home">
      <strong><%= meal.name %></strong>
      <%= link_to (image_tag (meal.imageURL)), meal_path(meal) %>
    </li>
  <% end %>
</ul>